.banner {
  background: $red-orange;
  box-shadow: inset 0 -8px 8px -8px rgba(0, 0, 0, 0.3);
  padding: 2rem;
  margin-bottom: 2rem;
}

.banner__title {
  text-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  font-weight: 700 !important;
  text-align: center;
  font-size: 3.5rem;
  padding-bottom: 0.5rem;
}

.banner__paragraph {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 300 !important;
  margin-bottom: 0;
}

.sidebar {
  padding: 5px 10px 10px;
  background: $red-orange;
  border-radius: 4px;
}

.sidebar__title {
  margin-bottom: 0.2rem;
}

@media (max-width: 767px) {
  .banner__title {
    font-size: 1.5rem;
  }

  .banner__paragraph {
    font-size: 0.8rem;
  }

  .sidebar {
    margin-bottom: 2rem;
  }
}
